<!-- <div>
  <h1>
    Your feedback for Order <%= @order.id %>
  </h1>
  <div>
    <% @order.order_items.each do |order_item| -%>
      <div>
        <%= order_item.meal_name %>
        <span name="feedback-#{order_item.id}">
          ★
        </span>
        <span name="feedback-#{order_item.id}">
          ★
        </span>
        <span name="feedback-#{order_item.id}">
          ★
        </span>
        <span name="feedback-#{order_item.id}">
          ☆
        </span>
        <span name="feedback-#{order_item.id}">
          ☆
        </span>
      </div>
    <% end -%>

    <input type="submit" value="Submit" />
  </div>
</div> -->

<div id="root">

</div>
